/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;
/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;
/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;
/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;
@layer base {
  h1 {
    @apply font-din font-bold tracking-wider text-2xl;
  }
  h2 {
    @apply font-basier italic tracking-wider text-base;
  }
  p {
    @apply font-basier font-normal tracking-wider text-base;
  }
}
@layer components {
  .main-skeleton {
    @apply relative bg-yellow-900 w-[100%] h-[100%] text-base;
  }
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
  .gradient-secondary {
    @apply bg-gradient-to-r from-primary to-alt;
  }
  .gradient-secondary-reversed {
    @apply bg-gradient-to-r from-alt to-primary;
  }

}
@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
  .justify-left {
    text-align: justify;
    text-align-last: right;
    --moz-text-align-last: right;
  }
  .height-screen-helper {
    height: calc(100vh - 80px);
  }
  .hidden-no {
    display: yes;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  --moz-osx-font-smoothing: grayscale;
  @apply antialiased;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.custom-box-shadow {
  --webkit-box-shadow: 0px 0px 58px 4px rgba(120,255,255,0.73);
  --moz-box-shadow: 0px 0px 58px 4px rgba(120,255,255,0.73);
  box-shadow: 0px 0px 58px 4px rgba(120,255,255,0.73);
}
.custom-text-shadow {
  text-shadow: 0px 0px 29px rgba(80,255,255,1);
}
@font-face {
  font-family: 'basier';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('/fonts/basier/basiercircle-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'basier';
  font-style: italic;
  font-weight: 300;
  src: local(''), url('/fonts/basier/basiercircle-regularitalic-webfont.woff') format('woff2');
}

@font-face {
  font-family: 'basier';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('/fonts/basier/basiercircle-medium-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'basier';
  font-style: italic;
  font-weight: 600;
  src: local(''), url('/fonts/basier/basiercirlcle-mediumitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'basier';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/basier/basiercircle-bold-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'basier';
  font-style: italic;
  font-weight: 700;
  src: local(''), url('/fonts/basier/basiercircle-bolditalic-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'din';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/din/din-condbold-webfont.woff2') format('woff2');
}
